@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-display: swap;
        font-family: Kanit;
        font-style: normal;
        font-weight: 400;
        src: url("/static/woff2/kanit-latin-regular.woff2");
    }
    @font-face {
        font-display: swap;
        font-family: Kanit;
        font-style: normal;
        font-weight: 500;
        src: url("/static/woff2/kanit-latin-medium.woff2");
    }
}